src/main/mule/cache-scope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9d93c830-66d8-4602-a619-e0608cc2aa7f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b5be98d4-305a-4008-9766-0f3c992d98b7" >
		<db:my-sql-connection host="database-3.chtutjabg4gc.ap-northeast-1.rds.amazonaws.com" port="3306" user="admin" password="9333888839" database="jaggu_db" />
	</db:config>
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="1c530bb3-7cd1-4df2-9faf-eec0c0263bc7" keyGenerationExpression="#[vars.id]" />
	<flow name="cache-scopeFlow" doc:id="6ed91b05-6f0a-45ca-8ace-61d792595c9e" >
		<http:listener doc:name="Listener" doc:id="09ff5fe9-08bc-45c1-8a2e-81129dd30e65" config-ref="HTTP_Listener_config" path="/cache"/>
		<logger level="INFO" doc:name="Logger" doc:id="6d2addc3-d0a5-4bed-aa5c-f166f5d1a48e" message="Request received"/>
		<set-variable value="#[attributes.queryParams.customerId]" doc:name="Set Variable" doc:id="cff2854c-c47b-4d71-83ef-d91caba4d5e5" variableName="id"/>
		<ee:cache doc:name="Cache" doc:id="d38113b1-788c-4759-987c-f25f07e1230f" cachingStrategy-ref="Caching_Strategy">
			<logger level="INFO" doc:name="Logger" doc:id="c84379fc-fcc3-4bf6-9509-6d242e104920" message="Going to fetch data from data base"/>
			<db:select doc:name="Select" doc:id="421bb940-5694-43d3-a358-7ef8c0f9e7f5" config-ref="Database_Config">
				<db:sql><![CDATA[SELECT * FROM pavan where id = :id]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	id:vars.id
}]]]></db:input-parameters>
			</db:select>
			<logger level="INFO" doc:name="Logger" doc:id="4659d45f-a19c-4d90-9e92-814f3bcf523f" message="After database call"/>
		</ee:cache>
		<ee:transform doc:name="Transform Message" doc:id="6e7fcdcf-1cc3-47f1-90b7-acab4529c7c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	customer: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
